@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $clash-display;
  background-color: $secondary-050;
  color: $neutral-700;
  overflow-x: hidden;

  main {
    overflow-x: hidden;
    width: 100vw;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  body {
    main {
      margin-top: 56px;
    }
  }
}

button {
  font-family: $clash-display;
}

