@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $secondary-050;
  color: $neutral-700;

  main {
    width: 80vw;
    margin: 0 auto;
    margin-top: calc(80px + 5%);
  }
}

button {
  font-family: $font-family;
}
